
/* 다크모드 */
.dark_mode_box {
  position:absolute;
  top:16px;
  right:20px;
  .dark_mode_switch {
    position: relative;
    display: block;
    width: 50px;
    height: 22px;
    border-radius: 35px;
    background:#f09f2c;
    cursor: pointer;
    .circle {
      position: relative;
      width: 16px;
      height: 16px;
      top:3px;
      left: 4px;
      border-radius: 50%;
      transition: 0.4s ease left, 0.4s ease background-position;
      background:#fff;
      z-index: 2;
    }
  }
  input {
    display: none;
    &:checked {
      +.dark_mode_switch {
        background:black;
        .circle {
          left: 30px;
        }
      }
    }
  }
}

.dark {
  background:var(--dark-primary);
  .dark_mode_box {
    .dark_mode_switch {
      .circle {
        background:var(--dark-primary);
      }
    }
    input {
      &:checked {
        +.dark_mode_switch {
          background:#fff;
          .circle {
            left: 30px;
          }
        }
      }
    }
  }
  .input_box {
    .tit {
      color:#fff;
    }
  }
  .character_count {
    color:#fff;
  }
  .text_input {
    color:#fff;
    border-color:var(--dark-sub);
    background:var(--dark-sub);
    &::placeholder {
      color:#fff;
    }
  }
  // 메인
  .main_top {
    color:#fff;
  }
  .main {
    .tit {
      color:#fff;
    }
    .check_list {
      .list {
        .link {
          color:#fff;
        }
        strong {
          color:var(--primary-sub);
        }
      }
    }
  }
  .popular_box {
    .popular_list {
      li {
        .keyword {
          color:#fff;
        }
      }
    }
  }
  // 사전
  .word_wrap {
    .word_box {
      .word_tit {
        color:#fff;
        background:var(--dark-sub);
      }
      .word_list {
        .item {
          color:#fff;
        }
      }
    }
  }
  // 마이페이지
  .user_info {
    .user_name {
      .name {
        color:#fff;
      }
    }
    .visit_count {
      color:#fff;
    }
  }
  .user_box {
    background:var(--dark-sub);
    .user_tit {
      color:#fff;
      .count {
        color:var(--primary-sub);
      }
    }
    .word_list {
      li {
        .item {
          color:#fff;
        }
      }
    }
  }
  footer {
    .footer_list {
      background:var(--dark-sub);
      .list {
        .link {
          color:#fff;
        }
      }
    }
  }

  .modalBox {
    .inner {
      background:#474747;
      .nickname_tit {
        color:#fff;
      }
      .nickname_txt {
        color:#fff;
      }
      .text_input {
        background:var(--dark-primary);
      }
    }
  }

  .layer_header {
    background:var(--dark-primary);
    .tit {
      color:#fff;
    }
  }
}


