/* 플로팅 푸터박스 */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  z-index: 100;
  box-sizing: border-box;
  transition: 0.3s;
  .footer_list {
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    .list {
      width: 100%;

      .link {
        display: block;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        &:before {
          display: block;
          margin: 0 auto 8px;
          width: 24px;
          height: 24px;
          content: '';
        }
        &.home {
          &:before {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_579_534)'%3E%3Cpath d='M3.42857 22.2857V12L12 3.42859L20.5714 12V22.2857C20.5714 23.2325 19.8039 24 18.8571 24H5.14286C4.19609 24 3.42857 23.2325 3.42857 22.2857Z' fill='%23CCA958'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7878 2.21639C11.4573 1.54693 12.5427 1.54693 13.2122 2.21639L23.4979 12.5021C24.1673 13.1716 24.1673 14.257 23.4979 14.9265C22.8285 15.5959 21.743 15.5959 21.0735 14.9265L12 5.85294L2.92647 14.9265C2.25699 15.5959 1.17157 15.5959 0.502102 14.9265C-0.167367 14.257 -0.167367 13.1716 0.502102 12.5021L10.7878 2.21639Z' fill='%236B3F39'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_579_534'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
          }
        }
        &.word {
          &:before {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_580_658)'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%2379B23D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2857 6.85716C13.2857 6.14708 12.7101 5.57144 12 5.57144C11.2899 5.57144 10.7143 6.14708 10.7143 6.85716V10.7143H6.85716C6.14708 10.7143 5.57144 11.2899 5.57144 12C5.57144 12.7101 6.14708 13.2857 6.85716 13.2857H10.7143V17.1429C10.7143 17.8529 11.2899 18.4286 12 18.4286C12.7101 18.4286 13.2857 17.8529 13.2857 17.1429V13.2857H17.1429C17.8529 13.2857 18.4286 12.7101 18.4286 12C18.4286 11.2899 17.8529 10.7143 17.1429 10.7143H13.2857V6.85716Z' fill='%23436759'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_580_658'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
          }
        }
        &.library {
          &:before {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_579_628)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.857143 0.214691C0.383757 0.214691 0 0.598448 0 1.07183V18.2146C0 18.6881 0.383757 19.0718 0.857143 19.0718H9.01039C8.72611 18.2676 8.57143 17.402 8.57143 16.5004C8.57143 14.3209 9.47527 12.3525 10.9286 10.9496V2.44749C10.4433 1.14356 9.18727 0.214691 7.71429 0.214691H0.857143ZM13.0714 2.44747V9.48561C14.0499 9.0365 15.1386 8.78611 16.2857 8.78611C20.2519 8.78611 23.519 11.7792 23.9515 15.6299H24V1.07183C24 0.598448 23.6162 0.214691 23.1429 0.214691H16.2857C14.8127 0.214691 13.5567 1.14353 13.0714 2.44747Z' fill='%2379B23D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2857 16.5004C13.2857 14.8435 14.6289 13.5004 16.2857 13.5004C17.9426 13.5004 19.2857 14.8435 19.2857 16.5004C19.2857 18.1572 17.9426 19.5003 16.2857 19.5003C14.6289 19.5003 13.2857 18.1572 13.2857 16.5004ZM16.2857 10.929C13.2087 10.929 10.7143 13.4234 10.7143 16.5004C10.7143 19.5775 13.2087 22.0717 16.2857 22.0717C17.3584 22.0717 18.3604 21.7687 19.2105 21.2434L21.3758 23.4087C21.8779 23.9108 22.692 23.9108 23.1941 23.4087C23.6962 22.9066 23.6962 22.0925 23.1941 21.5904L21.0286 19.4251C21.5541 18.5749 21.8572 17.5731 21.8572 16.5004C21.8572 13.4234 19.3627 10.929 16.2857 10.929Z' fill='%23436759'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_579_628'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
          }
        }
        &.profile {
          &:before {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.73802 0.115791C6.0023 -0.0375703 6.32822 -0.0386589 6.5935 0.112934L12.3888 3.42454L18.1841 0.112934C18.4495 -0.0386589 18.7754 -0.0375703 19.0397 0.115791C19.3039 0.269153 19.4666 0.551597 19.4666 0.857143V7.07774C19.4666 10.5476 16.9696 13.4343 13.6745 14.039V22.0714C13.6745 22.7815 13.0989 23.3571 12.3888 23.3571C11.6787 23.3571 11.1031 22.7815 11.1031 22.0714V14.039C7.80802 13.4343 5.3111 10.5476 5.3111 7.07774V0.857143C5.3111 0.551597 5.47375 0.269153 5.73802 0.115791Z' fill='%2379B23D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.70535 18.3751V17.2658C2.70535 16.7924 3.08911 16.4087 3.5625 16.4087H7.33771C9.84616 16.4087 11.9351 18.2045 12.3891 20.5807C12.843 18.2045 14.932 16.4087 17.4405 16.4087H21.2157C21.689 16.4087 22.0728 16.7924 22.0728 17.2658V18.3751C22.0728 21.2153 19.7702 23.5179 16.9299 23.5179H12.4806H12.2976H7.84821C5.0079 23.5179 2.70535 21.2153 2.70535 18.3751Z' fill='%23FFCB54'/%3E%3C/svg%3E") center no-repeat;
          }
        }
      }
    }
  }
}