.report {
  .inner {
    width: 300px;

    .report_tit {
      font-size: 20px;
      text-align: center;
    }
    &:before {
      display:block;
      margin:8px auto 16px;
      width:32px;
      height:32px;
      background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cg clip-path='url(%23clip0_579_616)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0.480042C14.1329 0.480042 12.3422 1.22175 11.0219 2.542C9.75946 3.80449 9.026 5.49709 8.96421 7.2754C8.16161 7.04436 7.32344 6.95869 6.4894 7.02315C5.57317 7.09393 4.67987 7.34452 3.86049 7.76054C3.0411 8.17659 2.31171 8.74993 1.7139 9.44785C1.1161 10.1458 0.661616 10.9546 0.376404 11.8282C0.0911936 12.7018 -0.0191622 13.623 0.0516382 14.5392C0.122439 15.4554 0.373008 16.3487 0.789042 17.1681C1.20507 17.9875 1.77842 18.7169 2.47635 19.3147C3.11166 19.8588 3.83886 20.2842 4.62314 20.5713C4.16641 21.2521 3.83329 22.009 3.63998 22.8072C3.42344 23.7015 3.38661 24.6297 3.53169 25.5383C3.67674 26.4468 4.00078 27.3175 4.48501 28.0999C4.96874 28.8814 5.6027 29.5591 6.35016 30.0939C7.85745 31.1822 9.73308 31.6322 11.5702 31.3465C13.3251 31.0734 14.9095 30.1499 16.0114 28.765C17.1133 30.1499 18.6977 31.0734 20.4526 31.3465C22.2897 31.6322 24.1655 31.1822 25.6727 30.0937C26.4201 29.5591 27.054 28.8814 27.5378 28.0999C28.022 27.3175 28.3461 26.4468 28.4912 25.5383C28.6361 24.6297 28.5993 23.7015 28.3829 22.8072C28.189 22.0068 27.8546 21.2481 27.3961 20.5659C28.1726 20.2842 28.8937 19.8664 29.525 19.3314C30.2265 18.7371 30.8034 18.0099 31.2229 17.1917C31.6421 16.3735 31.8953 15.4804 31.968 14.5639C32.0407 13.6474 31.9314 12.7256 31.6466 11.8515L30.56 12.2058L31.6457 11.8488C31.0649 10.0828 29.8073 8.61942 28.1486 7.77988C26.5641 6.97777 24.7372 6.80776 23.0366 7.29793C22.9801 5.5114 22.2458 3.80982 20.978 2.542C19.6577 1.22175 17.8671 0.480042 16 0.480042Z' fill='%23FFCB54'/%3E%3Cpath d='M16.0001 21.6006C18.7836 21.6006 21.04 19.3592 21.04 16.5943C21.04 13.8293 18.7836 11.5879 16.0001 11.5879C13.2166 11.5879 10.9601 13.8293 10.9601 16.5943C10.9601 19.3592 13.2166 21.6006 16.0001 21.6006Z' fill='%23E05153'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_579_616'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
      content:'';
    }
    .btn_btm {
      margin-top:20px;
    }
  }
}

.report_list {
  padding:24px 0;
  li {
    &+li {
      margin-top:12px;
    }
  }
}