:root {
  --primary:#436759;
  --primary-sub:#e4ebdd;
  --bg-ivory: #FEFAE0;
  --bg-brown:#B99470;
  --bg-red: #dd3434;
  --dark-primary:#131615;
  --dark-sub:#474747;
  --dark-sin:#f0f0f0;
}

.wrap {
  transition: 0.3s;
}

/* 공통 레이아웃 */
.container {
  margin:0 auto;
  padding: 20px 0 0 0;
  min-width: 280px;
  max-width: 1280px;
  box-sizing: border-box;
  .input_box {
    .tit {
      margin-bottom: 12px;
    }
    & + .input_box {
      margin-top: 16px;
    }
  }
  .input_sub {
    display:flex;
    align-items:center;
    margin-top:8px;
  }
}

.text_input {
  padding: 12px;
  width: 100%;
  font-size:14px;
  border:none;
  border-radius:6px;
  box-sizing: border-box;
  resize:none;
  &::placeholder {
    color:var(--primary);
  }
}

/* 유효성 문구 */
.invalid_msg {
  color:var(--bg-brown);
  font-size:12px;
}

/* 공통 모달 폼 */
.modalBox {
  position: relative;
  z-index: 1000;

  .inner {
    position: fixed;
    top: 50%;
    left: 50%;
    padding:24px;
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    transform: translate(-50%, -50%);
    .btn_close {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      width: 24px;
      height: 24px;
      background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.4559 4.87939C19.3931 3.94214 19.3931 2.42253 18.4559 1.48528C17.5186 0.548031 15.999 0.548031 15.0617 1.48528L9.97058 6.57645L4.87941 1.48528C3.94216 0.548031 2.42255 0.548031 1.4853 1.48528C0.548049 2.42253 0.548049 3.94214 1.4853 4.87939L6.57647 9.97056L1.4853 15.0617C0.548072 15.999 0.548049 17.5186 1.4853 18.4558C2.42255 19.3931 3.94218 19.3931 4.87941 18.4558L9.97058 13.3647L15.0617 18.4558C15.999 19.3931 17.5186 19.3931 18.4559 18.4558C19.3931 17.5186 19.3931 15.999 18.4559 15.0617L13.3647 9.97056L18.4559 4.87939Z' fill='%23436759'/%3E%3C/svg%3E") center no-repeat;
    }
    .btn_btm {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 46px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border-radius: 32px;
        background: #406A52;
      }
    }
  }
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    content: ''
  }
}

.check_label {
  display: inline-block;
  input {
    display: none;
    &:checked {
      &+ label {
        &:before {
          border-color:var(--primary);
          background:var(--primary) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' viewBox='0 0 14 10' fill='none'%3E%3Cpath d='M11.6667 1.79163L5.25004 8.20829L2.33337 5.29163' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
        }
      }
    }
  }
  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius:4px;
      border: 2px solid var(--primary);
      background:#fff;
    }
  }
}

