.library_wrap {
  padding-top:80px;
  background:#5F6F52;
}

.word_tab {
  display:flex;
  align-items:center;
  margin-bottom:12px;
  padding:0 12px;
  .tab_item {
    color:#fff;
    &+.tab_item {
      margin-left:12px;
    }
    &.active {
      color:#FEFAE0;
      font-weight:bold;
    }
  }
}

/* 자음에 따른 단어 리스트 */
.word_wrap {
  padding:24px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  background:#fff;
  .word_list {
    li {
      &+li {
        margin-top:8px;
        padding-top:8px;
        border-top:1px solid #F7F7F7;
      }
      .item {
        display:block
      }
    }
  }
}