/* 하단 플로팅 버튼 */
.floating_box {
  margin-top:20px;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

.btn_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 32px;
  background: #406A52;
}

.character_count {
  margin-left:auto;
  font-size:12px;
}

.word_add_tip {
  display:flex;
  align-items:center;
  margin-bottom:20px;
  padding:6px 12px;
  color:var(--primary);
  font-size:12px;
  border-radius:6px;
  background:var(--dark-sin)
}