.detail_wrap {
  background:#F7F7F7;
}
.detail_box {
  margin:50px 0;
  .desc_add_box {
    display:flex;
    margin-bottom:12px;
    .desc_add_btn {
      margin-left:auto;
    }
  }
  .word_tit {
    margin-bottom:24px;
    font-size:26px;
    text-align:center;
  }
  .word_mean_list {
    padding:36px 24px;
    border-radius:16px;
    box-shadow: 0 1px 12px -10px #000;
    background:#fff;
    .list {
      &+.list {
        margin-top:32px;
        padding-top:32px;
        border-top:1px solid #ddd;
      }
    }
    .mean_top {
      display:flex;
      justify-content: space-between;
      .name {
        font-size:16px;
        font-weight:bold;
      }
    }
    .util_list {
      display:flex;
      li {
        display:flex;
        align-items:center;
        button {
          display:block;
          width:18px;
          height:18px;
          background-position:center;
          background-repeat:no-repeat;
          &.btn_scrape {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_818_2906)'%3E%3Cpath d='M9.62997 1.40142L11.6743 5.52856C11.7208 5.63331 11.7939 5.72404 11.8864 5.79172C11.9789 5.8594 12.0875 5.90165 12.2014 5.91427L16.7143 6.58285C16.8449 6.59964 16.9681 6.65326 17.0695 6.73745C17.1708 6.82164 17.246 6.93293 17.2865 7.05832C17.3269 7.1837 17.3309 7.31799 17.2978 7.44553C17.2648 7.57306 17.1961 7.68857 17.1 7.77856L13.8471 11.0057C13.7641 11.0833 13.7018 11.1804 13.6658 11.2881C13.63 11.3959 13.6215 11.511 13.6414 11.6228L14.4257 16.1614C14.4484 16.2918 14.434 16.426 14.3843 16.5487C14.3345 16.6713 14.2512 16.7775 14.1441 16.8552C14.0369 16.933 13.9101 16.979 13.7781 16.9881C13.646 16.9974 13.514 16.9692 13.3971 16.9071L9.33426 14.76C9.23023 14.7089 9.11586 14.6823 8.99997 14.6823C8.88408 14.6823 8.76972 14.7089 8.66568 14.76L4.60283 16.9071C4.48594 16.9692 4.35396 16.9974 4.22191 16.9881C4.08985 16.979 3.96302 16.933 3.85585 16.8552C3.74867 16.7775 3.66546 16.6713 3.61568 16.5487C3.5659 16.426 3.55155 16.2918 3.57425 16.1614L4.35854 11.5714C4.37842 11.4595 4.37001 11.3445 4.33409 11.2367C4.29815 11.1289 4.23584 11.0318 4.15283 10.9543L0.861402 7.77856C0.764024 7.6861 0.695543 7.56741 0.664255 7.43683C0.632966 7.30625 0.640211 7.16941 0.685114 7.04286C0.730015 6.91632 0.810647 6.80552 0.91724 6.72388C1.02384 6.64222 1.15182 6.59323 1.28568 6.58285L5.79854 5.91427C5.91246 5.90165 6.02107 5.8594 6.11357 5.79172C6.20605 5.72404 6.27919 5.63331 6.32568 5.52856L8.36997 1.40142C8.42564 1.28121 8.51454 1.17944 8.62617 1.10812C8.7378 1.0368 8.8675 0.998901 8.99997 0.998901C9.13244 0.998901 9.26215 1.0368 9.37378 1.10812C9.4854 1.17944 9.5743 1.28121 9.62997 1.40142Z' fill='white'/%3E%3Cpath d='M9.62997 1.40129L11.6743 5.52843C11.7208 5.63318 11.7939 5.72393 11.8864 5.79159C11.9789 5.85927 12.0875 5.90154 12.2014 5.91415L16.7143 6.58272C16.8449 6.59951 16.9681 6.65314 17.0695 6.73733C17.1708 6.82153 17.246 6.93281 17.2865 7.05819C17.3269 7.18357 17.3309 7.31788 17.2978 7.44541C17.2648 7.57294 17.1961 7.68845 17.1 7.77843L13.8471 11.0056C13.7641 11.0831 13.7018 11.1802 13.6658 11.288C13.63 11.3958 13.6215 11.5109 13.6414 11.6227L14.4257 16.1613C14.4484 16.2918 14.434 16.4259 14.3843 16.5485C14.3345 16.6712 14.2512 16.7774 14.1441 16.8552C14.0369 16.9328 13.9101 16.9789 13.7781 16.988C13.646 16.9972 13.514 16.9691 13.3971 16.907L9.33426 14.7598C9.23023 14.7088 9.11586 14.6822 8.99997 14.6822C8.88408 14.6822 8.76972 14.7088 8.66568 14.7598L4.60283 16.907C4.48594 16.9691 4.35396 16.9972 4.22191 16.988C4.08985 16.9789 3.96302 16.9328 3.85585 16.8552C3.74867 16.7774 3.66546 16.6712 3.61568 16.5485C3.5659 16.4259 3.55155 16.2918 3.57425 16.1613L4.35854 11.5713C4.37842 11.4594 4.37001 11.3444 4.33409 11.2366C4.29815 11.1288 4.23584 11.0317 4.15283 10.9541L0.861402 7.77843C0.764024 7.68599 0.695543 7.56728 0.664255 7.4367C0.632966 7.30614 0.640211 7.16929 0.685114 7.04275C0.730015 6.91621 0.810647 6.80539 0.91724 6.72375C1.02384 6.64209 1.15182 6.59311 1.28568 6.58272L5.79854 5.91415C5.91246 5.90154 6.02107 5.85927 6.11357 5.79159C6.20605 5.72393 6.27919 5.63318 6.32568 5.52843L8.36997 1.40129C8.42564 1.28109 8.51454 1.17932 8.62617 1.108C8.7378 1.03668 8.8675 0.998779 8.99997 0.998779C9.13244 0.998779 9.26215 1.03668 9.37378 1.108C9.4854 1.17932 9.5743 1.28109 9.62997 1.40129Z' fill='white' stroke='%23FFCB54' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_818_2906'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            &.active {
              background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_818_2894)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0.355957C8.74488 0.355957 8.49508 0.428944 8.28009 0.566304C8.06785 0.701908 7.89828 0.89466 7.79082 1.1223L5.74967 5.24313C5.74566 5.25123 5.74181 5.25941 5.73815 5.26768C5.73723 5.26972 5.73579 5.27151 5.73398 5.27283C5.73217 5.27415 5.73005 5.27499 5.72781 5.27523C5.71998 5.2761 5.71216 5.27711 5.70437 5.27827L1.21005 5.94409C0.961648 5.96825 0.724768 6.06146 0.526363 6.21343C0.32107 6.37069 0.165779 6.58409 0.0793018 6.8278C-0.00717551 7.07151 -0.0211295 7.33506 0.0391307 7.58655C0.0991576 7.83705 0.23026 8.06486 0.416645 8.24261L3.7065 11.4168L3.714 11.4239C3.71869 11.4283 3.72222 11.4338 3.72426 11.4399C3.72629 11.446 3.72676 11.4525 3.72563 11.4589L3.72491 11.4631L2.94096 16.051C2.89789 16.2996 2.92516 16.5565 3.02006 16.7903C3.11508 17.0245 3.27395 17.2273 3.47854 17.3757C3.68315 17.5239 3.92528 17.6118 4.17738 17.6293C4.42898 17.6468 4.68044 17.5935 4.90326 17.4754L4.90461 17.4747L8.95394 15.3346C8.96845 15.3283 8.98415 15.3249 9.00003 15.3249C9.01591 15.3249 9.03159 15.3283 9.04612 15.3346L13.0954 17.4747C13.3183 17.5931 13.5708 17.6469 13.8226 17.6293C14.0747 17.6118 14.3168 17.5239 14.5215 17.3757C14.7261 17.2273 14.885 17.0245 14.98 16.7903C15.0749 16.5565 15.1023 16.3009 15.0593 16.0524L15.0591 16.051L14.2752 11.463L14.2744 11.4589C14.2732 11.4525 14.2737 11.446 14.2758 11.4399C14.2777 11.4338 14.2813 11.4283 14.286 11.4239L14.2935 11.4168L17.5834 8.24257C17.7697 8.06482 17.9009 7.83703 17.9609 7.58655C18.0211 7.33506 18.0072 7.07151 17.9207 6.8278C17.8343 6.58409 17.679 6.37069 17.4736 6.21343C17.2752 6.06146 17.0384 5.96825 16.79 5.94409L12.2957 5.27827C12.2879 5.27711 12.28 5.2761 12.2722 5.27523C12.27 5.27499 12.2678 5.27415 12.266 5.27283C12.2642 5.27151 12.2628 5.26972 12.2619 5.26768C12.2582 5.25941 12.2544 5.25123 12.2504 5.24313L10.2092 1.12228C10.1017 0.894649 9.93216 0.701904 9.71993 0.566304C9.50493 0.428944 9.25513 0.355957 9 0.355957Z' fill='%23FFCB54'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_818_2894'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
          }
          &.btn_like {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.29007 16.9776C0.577583 16.9776 6.26195e-07 16.3282 5.63908e-07 15.527L0 8.27418C-6.22875e-08 7.47306 0.577583 6.82361 1.29007 6.82361H7.09538C7.45162 6.82361 7.74042 7.14833 7.74042 7.54889V16.2523C7.74042 16.653 7.45162 16.9776 7.09538 16.9776H1.29007Z' fill='%23436759'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.07776 18C6.59763 18 6.12356 17.8795 5.69013 17.6472L5.43285 17.5093C4.7593 17.1484 4.33032 16.3841 4.33032 15.5452L4.33034 7.65051C4.33034 7.27828 4.41526 6.91228 4.57698 6.5875L7.2569 1.20576C7.62769 0.461166 8.32738 0 9.08633 0C10.2443 0 11.183 1.05551 11.183 2.35754V5.77744L15.4193 5.77743C17.0031 5.77743 18.2131 7.36714 17.9685 9.12669L17.161 14.9338C16.9156 16.6988 15.5634 18 13.9745 18H7.07776Z' fill='%2379B23D'/%3E%3C/svg%3E");
          }
          &.btn_dislike {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.29007 1.02239C0.577583 1.02239 6.26195e-07 1.67182 5.63908e-07 2.47297L0 9.72582C-6.22875e-08 10.5269 0.577583 11.1764 1.29007 11.1764H7.09538C7.45162 11.1764 7.74042 10.8517 7.74042 10.4511V1.74768C7.74042 1.34703 7.45162 1.02239 7.09538 1.02239H1.29007Z' fill='%236B3F39'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.07776 -5.81495e-08C6.59763 -5.81495e-08 6.12356 0.120543 5.69013 0.35278L5.43285 0.490728C4.7593 0.851631 4.33032 1.61594 4.33032 2.4548L4.33034 10.3495C4.33034 10.7217 4.41526 11.0877 4.57698 11.4125L7.2569 16.7942C7.62769 17.5388 8.32738 18 9.08633 18C10.2443 18 11.183 16.9445 11.183 15.6425V12.2226L15.4193 12.2226C17.0031 12.2226 18.2131 10.6329 17.9685 8.87331L17.161 3.06622C16.9156 1.30116 15.5634 -5.81495e-08 13.9745 -5.81495e-08H7.07776Z' fill='%23CCA958'/%3E%3C/svg%3E");
          }
          &.btn_report {
            background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17' fill='none'%3E%3Cpath d='M1.28571 7.71428C1.28571 3.4538 4.73951 0 8.99999 0V0C13.2605 0 16.7143 3.4538 16.7143 7.71428V12.8571H1.28571V7.71428Z' fill='%23E05153'/%3E%3Crect y='11.5714' width='18' height='5.14286' rx='1' fill='%2364413F'/%3E%3C/svg%3E");
          }
        }
        .count {
          margin-left:8px;
        }
        &+li {
          margin-left:16px;
        }
      }
    }
  }

  .mean_txt {
    margin-top:16px;
    p {
      font-size:14px;
    }
  }
}
